@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

.App {
  margin: none;
}

/* MainHeader */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.Header-title {
  cursor: pointer;
  font-size: 35px;
}

.Header-buttons {
  display: flex;
  gap: 10px;
  font-size: 28px;
  padding-right: 24px;
}

.Header-button {
  cursor: pointer;
  padding-right: 18px;
}

/* ShareDiary */
.ShareDiary {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "Nanum Pen Script", cursive;
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #64c964;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* Home */
.Home {
  justify-content: center;
  align-items: center;
}
.Home .Home-content {
  display: flex;
  justify-content: center;
}

.Home .Home-img-wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 340px;
  display: flex;

  padding: 10px;
}

.Home .Home-text-wrapper {
  display: flex;
  flex-direction: column; /* 요소들을 세로로 배치 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  height: 40vh; /* 컨테이너 높이 설정 */
  font-size: 40px;
}

.Home .Home-start-button {
  justify-content: center;
  align-items: center;

  display: flex;
  height: 65px;
  width: 300px;

  margin: auto;
  margin-top: 24px;

  border: 2px solid black;
  border-radius: 5px;

  font-size: 30px;

  cursor: pointer;
}

/* DiaryHeader */
header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 750px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

/* DiaryList */
.DiaryList-header {
  display: flex;
  justify-content: center;
}
.DiaryList-body {
  display: flex;
  flex-direction: column; /* 요소들을 세로 방향으로 배치 */
  align-items: center; /* 요소들을 가로 방향으로 가운데 정렬 */
}

/* ListContent */
.ListContent {
  display: flex;

  border-bottom: 1px solid gray;
  height: 128px;
  width: 750px;
}

.ListContent .ListContent-emotion {
  width: 143px;
  height: 90px;
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  margin-left: 0px;
  background-color: #27d238;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ListContent .ListContent-emotion img {
  width: 70px;
}

.ListContent .ListContent-title {
  width: 450px;
  margin: auto;
  margin-top: 22px;
}

.ListContent .ListContent-title .created_at {
  font-size: 22px;
}
.ListContent .ListContent-title .title {
  font-size: 18px;
}

.ListContent .ListContent-updateButton {
  width: 93px;
  height: 45px;
  background-color: #ececec;

  cursor: pointer;
  border-radius: 5px;

  margin: auto;
  margin-right: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
